@model IEnumerable<MarcusRent.Models.OrderViewModel>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.IsInRole("Admin"))
{
	<p><strong>Välkommen Administratör!</strong></p>
<p>Här ser du alla befintliga ordrar.</p>
}

@if (User.IsInRole("User"))
{
	<p><strong>Välkommen!</strong></p>
	<p>Här ser du alla dina ordrar.</p>
}

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.StartDate)</th>
			<th>@Html.DisplayNameFor(model => model.EndDate)</th>
			<th>@Html.DisplayNameFor(model => model.Brand)</th>
			<th>@Html.DisplayNameFor(model => model.Model)</th>
			<th>@Html.DisplayNameFor(model => model.Year)</th>
			<th>@Html.DisplayNameFor(model => model.Price)</th>
			<th>@Html.DisplayNameFor(model => model.ActiveOrder)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.StartDate)</td>
				<td>@Html.DisplayFor(modelItem => item.EndDate)</td>
				<td>@Html.DisplayFor(modelItem => item.Brand)</td>
				<td>@Html.DisplayFor(modelItem => item.Model)</td>
				<td>@Html.DisplayFor(modelItem => item.Year)</td>
				<td>@Html.DisplayFor(modelItem => item.Price)</td>
				<td>@Html.DisplayFor(modelItem => item.ActiveOrder)</td>
				<td>
				<form asp-controller="Order" asp-action="DeleteConfirmed" method="post" style="display:inline;">
					@Html.AntiForgeryToken()
					<input type="hidden" name="id" value="@item.OrderId" />
					<button type="submit" class="btn custom-btn" onclick="return confirm('Är du säker på att du vill ta bort denna order?');">Ta bort</button>
				</form>
				</td>
				<td>
					@* <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-sm btn-warning">Ändra</a>
					<a asp-action="Details" asp-route-id="@item.OrderId" class="btn btn-sm btn-info">Detaljer</a>
					<a asp-action="Delete" asp-route-id="@item.OrderId" class="btn btn-sm btn-danger">Ta bort</a> *@
				</td>
			</tr>
		}
	</tbody>
</table>
